<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LabRegisterV1.Properties.Settings.labmgmtConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=labmgmt;User ID=sa;Password=si@2021#Aug$09" providerName="System.Data.SqlClient"/>
    <add name="LabLocker.Properties.Settings.labmgmtConnectionString2" connectionString="Data Source=PL1CNCTU0144NB\SQLEXPRESS;Initial Catalog=labmgmt;User ID=sa;Password=si@2021#Aug$09" providerName="System.Data.SqlClient"/>
    <add name="LabRegisterV1.Properties.Settings.labmgmtConnectionString2" connectionString="Data Source=PL1CNCTU0144NB\SQLEXPRESS;Initial Catalog=labmgmt;User ID=sa;Password=si@2021#Aug$09"/>
    <add name="LabRegisterV1.Properties.Settings.labmgmtConnectionString3" connectionString="Data Source=DESKTOP-3RC7OGR\SQLEXPRESS;Initial Catalog=labmgmt;User ID=sa;Password=si@2021#Aug$09"/>
    <add name="LabRegisterV1.Properties.Settings.labmgmtConnectionString1" connectionString="Data Source=127.0.0.1;Initial Catalog=labmgmt;User ID=sa" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
