<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LabLocker.Properties.Settings.labmgmtConnectionString"
      connectionString="Data Source=192.168.1.100\SQLEXPRESS;Initial Catalog=labmgmt;User ID=sa;Password=si@2021#Aug$09"
      providerName="System.Data.SqlClient" />
    <add name="LabLocker.Settings.labmgmtConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=labmgmt;User ID=sa;Password=si@2021#Aug$09"
      providerName="System.Data.SqlClient" />
    <add name="LabLocker.Settings.labmgmtConnectionString2" connectionString="Data Source=PL1CNCTU0144NB\SQLEXPRESS;Initial Catalog=labmgmt;User ID=sa;Password=si@2021#Aug$09" />
    <add name="LabLocker.Settings.labmgmtConnectionString3" connectionString="Data Source=DESKTOP-3RC7OGR\SQLEXPRESS;Initial Catalog=labmgmt;User ID=sa;Password=si@2021#Aug$09" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>

  </startup>
</configuration>
